* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: hsl(40deg 0% 99%);
}

img {
    inline-size: 220px;
}

iframe {
    inline-size: 280px;
    block-size: 160px;
}

.title {
    margin-block-end: 10px;
}

.title--centered {
    text-align: center;
}

.card {
    inline-size: 400px;
    block-size: 500px;
    border: 1px solid lightgray;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 20px;
    box-shadow: -3px 3px 10px hsl(0deg 0% 80%);

    background-color: hsl(0deg 100% 100%);

    margin-inline-start: 20px; /* Temporal */
    margin-block-start: 20px; /* Temporal */

    transition: all 200ms ease-in-out;
}

.card__pic-section {
    display: flex;
    inline-size: 100%;
}

.card__small-section {
    font-size: 0.9rem;
    font-weight: 600;
}

.text {
    font-size: 0.8rem;
    color: hsl(0deg 0% 40%);
    line-height: 1.3;
    margin-block: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text--align-right {
    text-align: right;
}

.icon {
    inline-size: 18px;
}

.small-fix {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.card__info-section {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.card__info-section--centered {
    align-items: center;
}

.clickable {
    inline-size: 100%;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.85rem;
    color: hsl(0deg 0% 40%);
}
.clickable:hover {
    text-decoration: underline;
}

.turn-around {
    transform: rotateY(180deg);
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}