* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: hsl(40deg 0 99);
}

img {
    inline-size: 220px;
}

.title {
    margin-block-end: 10px;
}

.card {
    inline-size: 400px;
    block-size: 450px;
    border: 1px solid lightgray;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 20px;
    box-shadow: -3px 3px 10px hsl(0deg 0 80);

    background-color: hsl(0deg 100 100);

    margin-inline-start: 20px; /* Temporal */
    margin-block-start: 20px; /* Temporal */
}

.card__pic-section {
    display: flex;
    inline-size: 100%;
}

.card__small-section {
    font-size: 0.9rem;
    font-weight: 600;
}

.synopsis {
    font-size: 0.8rem;
    color: hsl(0deg 0 40);
    line-height: 1.3;
    margin-block: 10px;
}

.icon {
    inline-size: 18px;
}
